@using BandLookMVC.Response

@{
    Layout = "_Layout1";
}
<main id="main">
    <section class="profile-dashboard">
        <div class="inner-header mb-40">
            <h3 class="title">Manage Payment</h3>
            <p class="des">Manage status payment of booking</p>
        </div>
        <div class="my-booking-wrap ">
            <ul class="booking-table-title flex-three">
                <li>
                    <p>Email</p>
                </li>
                <li>
                    <p>Time</p>
                </li>
                <li>
                    <p>Total</p>
                </li>
                <li>
                    <p>Phone</p>
                </li>
                <li>
                    <p>Doctor</p>
                </li>
                <li>
                    <p>Status</p>
                </li>
                <li>
                    <p>Method</p>
                </li>
                <li>
                    <p>Action</p>
                </li>
            </ul>
            <ul class="booking-table-content mb-60">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li class="flex-three">
                        <div class="booking-list-table">
                            <p class="date-gues">@Model[i].Email</p>
                        </div>
                        
                        <div class="booking-list-table">
                            <p class="date-gues">@Model[i].Pay_time</p>
                        </div>
                        <div class="booking-list-table">
                            <p class="date-gues">@Model[i].Price</p>
                        </div>
                        <div class="booking-list-table">
                            <p class="date-gues">@Model[i].Phone</p>
                        </div>
                        <div class="booking-list-table">
                                                    <p class="date-gues">@Model[i].Fullname</p>
                                                </div>
                        <div class="booking-list-table">
                            @if (Model[i].Status == 1)
                            {
                                <p class="status"  style="background-color: forestgreen;">Success</p>
                            }
                            else @if (Model[i].Status == 0)
                            {
                                <p class="status" style="background-color: lightgray;">Waiting</p>
                            }
                            else @if (Model[i].Status == -1)
                            {
                                <p class="status" style="background-color: red;">Fail</p>
                            }
                        </div>
                        <div class="booking-list-table">
                                                                            <p class="date-gues">@Model[i].Type</p>
                                                                        </div>
                        <div class="flex-five action-wrap">
                            <div class="action flex-five">
                                <a href="@Url.Action("PaymentConfirm", "Admin", new { id = @Model[i].Id, status = 1 })">
                                    <i class="fa-solid fa-square-check"></i>
                                </a>
                               
                            </div>
                             <div class="action flex-five">
                                                                                            <a href="@Url.Action("PaymentConfirm", "Admin", new { id = @Model[i].Id, status = -1})"> <i class="fa-solid fa-circle-xmark"></i></a>
                                                                                        </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>

</main>