@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BandLookMVC.Controllers.ArtistController.ArtistDetailViewModel

<main id="main">

<section>
    <div class="tf-container full">
        <div class="row">
            <div class="col-md-12">
                <img src="../assets/images/page/breakcrumb2.jpg" alt="image">
            </div>
        </div>
    </div>
</section>

<section class="tour-single">
<div class="tf-container">
<div class="row">
    <div class="col-lg-12">
        <ul class="nav justify-content-between tab-tour-single" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-information-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-information" type="button" role="tab"
                        aria-controls="pills-information" aria-selected="true">
                     Reputation
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-tour-planing-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-tour-planing" type="button" role="tab"
                        aria-controls="pills-tour-planing" aria-selected="false">
                     Conscientious
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-location-share-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-location-share" type="button" role="tab"
                        aria-controls="pills-location-share" aria-selected="false">
                    Patience
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-reviews" type="button" role="tab"
                        aria-controls="pills-reviews" aria-selected="false">
                   Integrity
                </button>
            </li>
          
        </ul>
    </div>
</div>
<div class="row pd-main">
<div class="col-lg-12">
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="pills-information" role="tabpanel"
     aria-labelledby="pills-information-tab" tabindex="0">
<div class="row mb-50">
    <div class="col-lg-12">
        <div class="inner-heading-wrap flex-two">
            <div class="inner-heading">
                <span class="feature">Outstanding</span>
                <h2 class="title">@Model.Artist.Fullname</h2>
                <ul class="flex-three list-wrap-heading">
                    <li class="flex-three">
                        Rate:
                        <span> @Model.Artist.Rating stars</span>
                    </li>
                    <li class="flex-three">
                        Contact:
                        <span> @Model.Artist.Phone</span>
                    </li>
                    <li class="flex-three">
                        Medical facility:
                        <span> @Model.Artist.Address</span>
                    </li>


                </ul>

            </div>
            <div class="inner-price">
          
                <p class="price-sale text-main">
                   Price: @Model.Artist.Catxe VND /slot
                
                </p>
            </div>

        </div>

    </div>
</div>
<div class="row mb-40 image-gallery-single">
    @foreach (var image in Model.Artist.Images)
    {
        <div class="col-6 col-sm-3">
            <img src="@image" alt="image">
        </div>
    }
</div>
<div class="row">
<div class="col-lg-8">
    <div class="information-content-tour">
        <div class="description-wrap mb-40">
            <span class="description">Introduction:</span>
            <p class="des">
                @Model.Artist.Description
            </p>
        </div>
        
 
    </div>
</div>
<div class="col-lg-4">
    <div class="side-bar-right">
        <div class="sidebar-widget">
            <h6 class="block-heading">Book this doctor</h6>
            <form action="/Payment/Pay" method="GET" id="form-book-tour">
                <div class="input-wrap mb-30">
                    <input type="date" id="booking-date" name="selectedDate">
                </div>
                <span class="label">Calendar:</span>
                <div class="flex-two mb-30">
                    <div class="radio" id="time-slots">
                        <!-- Time slots will be inserted here -->
                    </div>
                </div>
                <div class="flex-two mb-40">
                    <span class="label">Price</span>
                    <span class="total text-main" id="total-price">@Model.Artist.Catxe VND</span>
                    <input type="hidden" name="totalPrice" id="total-price-hidden" value="@Model.Artist.Catxe"/>
                     <input type="hidden" name="id" value="@Model.Artist.Id"/>
                    <input type="hidden" name="selectedTimeSlots" id="selected-time-slots-hidden"/>
                </div>
                <button type="submit">Payment</button>
            </form>
        </div>
    </div>
</div>


<script>
    document.getElementById("booking-date").addEventListener("change", async function () {
        var selectedDate = this.value;
        var urlParams = new URLSearchParams(window.location.search);
        var artistId = urlParams.get('id');
        var url = `/Artist/GetBooking?id=${artistId}&selectedDate=${selectedDate}`; 
        var response = await fetch(url); 
        var bookings = await response.json();
        var slotsContainer = document.getElementById("time-slots");
        slotsContainer.innerHTML = "";
   
        var schedule = @Html.Raw(Json.Serialize(Model.Schedule));
        var catxe = @Model.Artist.Catxe;
   
        var dateSchedule = schedule.filter(s => new Date(s.start_date).toISOString().split('T')[0] === selectedDate);
   
        if (dateSchedule.length > 0) {
            dateSchedule.forEach(slot => {
                var startTime = slot.start_time.split(':');
                var endTime = slot.end_time.split(':');
                var startHour = parseInt(startTime[0]);
                var endHour = parseInt(endTime[0]);
   
                for (var hour = startHour; hour < endHour; hour++) {
                    var nextHour = hour + 1;
                    var slotLabel = `${hour}:00 - ${nextHour}:00`;
                    var isBooked = checkIfSlotIsBooked(hour, bookings); 
   
                    slotsContainer.innerHTML += `
                        <input id="slot-${hour}" type="checkbox" name="timeslot" value="${hour}" ${isBooked ? 'disabled' : ''} style="${isBooked ? 'opacity: 0.5; pointer-events: none;' : ''}">
                        <label for="slot-${hour}" class="${isBooked ? 'disabled' : ''}" style="${isBooked ? 'color: gray;' : ''}">${slotLabel}</label>`;
                }
            });

            // Thêm sự kiện lắng nghe cho các checkbox
            document.querySelectorAll('#time-slots input[type="checkbox"]').forEach(checkbox => {
                checkbox.addEventListener('change', updateTotalPrice);
            });
        } else {
            slotsContainer.innerHTML = "<p>There is no schedule for this day</p>";
        }
   
        function checkIfSlotIsBooked(hour, bookings) {
            for (var i = 0; i < bookings.length; i++) {
                var booking = bookings[i];
                var bookingStartHour = parseInt(booking.start_time.split(':')[0]);
                var bookingEndHour = parseInt(booking.end_time.split(':')[0]);
   
                if (hour >= bookingStartHour && hour < bookingEndHour) {
                    return true;
                }
            }
            return false;
        }
   
        function updateTotalPrice() {
            var selectedSlots = document.querySelectorAll('#time-slots input[type="checkbox"]:checked');
            var totalPrice = selectedSlots.length * catxe;
            document.getElementById('total-price').innerText = `${totalPrice} VND`;
            document.getElementById('total-price-hidden').value = totalPrice;

            // Cập nhật các timeslot đã chọn vào input ẩn
            var selectedTimeSlots = Array.from(selectedSlots).map(slot => slot.value).join(',');
            document.getElementById('selected-time-slots-hidden').value = selectedTimeSlots;
        }
    });
</script>



</div>

</div>
</div>
</div>
</div>

</div>
</section>




</main>